@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg-pattern.jpg);
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
